body{
	font-size: 18px;
	margin: 0;
	width:100%;
};


h1 {
	background-color : $primary-color;
	color: $secondary-color ;
	border: 10px solid $primary-color;
	text-align: center;
	text-shadow: $primary-color 2px 2px;
	font-size: 3rem;
};

html{
	
	background: linear-gradient(to top left, $secondary-color, $third-color);
}

ul{
	li{
		color: $secondary-color;
	}
}

ul{

	li{

		img{
			max-height: 1%;
			max-width: 1%;
		}
	}
}

p{
	color: $secondary-color;
}

.boxstyle {

	background : $degrade-color;
	box-shadow: $psycheshadow-color;
	padding: 0em 1em;
	border-radius: 16px;
	border-style: solid;
	margin-left: 10px;
	line-height: 2;

};

.container {
  	width:200;
	border-spacing: 5px;
};

.box{
	border-collapse: separate;
	border-spacing: 50px;
	box-sizing: border-box;
	float: left;
}

.midleftside{
	@extend .box;
	width: 37%;
	
};

.s15{
	@extend .box;
	width: 75%;
	border: 0.5em solid black;
	
};

.semihalf {
	@extend .box;
	border: 0.5em $primary-color solid;
	width: 25%;
	

};

.semihalf{

		img {
		padding-left: 5%;	
		max-width: 90%;

		}; 
	}